In [1]:
import requests
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'
db_name = 'movies.db'
table_name ='top_50'
csv_path = 'top_50.csv'
df = pd.DataFrame(columns=["Film", "Year", "Rotten 100"])
count =0

In [3]:
html_page = requests.get(url).text
data = BeautifulSoup(html_page, 'html.parser')

In [4]:
tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

In [5]:
data_list=[]

In [6]:
for i, row in enumerate(rows):
    # Skip header row (which uses <th> instead of <td>)
    if row.find('th'):
        continue
        
for i, row in enumerate(rows):
    if i >=25:
        break

    cols = row.find_all('td')
    if not cols or len(cols) < 4:
        continue

    data_list.append({
        "Film": cols[1].get_text(strip=True),
        "Year": cols[2].get_text(strip=True),
        "Rotten 100": cols[3].get_text(strip=True),
})

df=pd.DataFrame(data_list)

In [7]:
print(data_list)

[{'Film': 'The Godfather', 'Year': '1972', 'Rotten 100': '17'}, {'Film': 'Citizen Kane', 'Year': '1941', 'Rotten 100': '2'}, {'Film': 'Casablanca', 'Year': '1942', 'Rotten 100': '8'}, {'Film': 'The Godfather, Part II', 'Year': '1974', 'Rotten 100': '99'}, {'Film': "Singin' in the Rain", 'Year': '1952', 'Rotten 100': '52'}, {'Film': 'Psycho', 'Year': '1960', 'Rotten 100': '88'}, {'Film': 'Rear Window', 'Year': '1954', 'Rotten 100': '47'}, {'Film': 'Apocalypse Now', 'Year': '1979', 'Rotten 100': 'unranked'}, {'Film': '2001: A Space Odyssey', 'Year': '1968', 'Rotten 100': 'unranked'}, {'Film': 'Seven Samurai', 'Year': '1954', 'Rotten 100': '49'}, {'Film': 'Vertigo', 'Year': '1958', 'Rotten 100': 'unranked'}, {'Film': 'Sunset Blvd', 'Year': '1950', 'Rotten 100': '21'}, {'Film': 'Modern Times', 'Year': '1936', 'Rotten 100': '4'}, {'Film': 'Lawrence of Arabia', 'Year': '1962', 'Rotten 100': 'unranked'}, {'Film': 'North by Northwest', 'Year': '1959', 'Rotten 100': '79'}, {'Film': 'Star Wars', 'Year': '1977', 'Rotten 100': 'unranked'}, {'Film': 'Parasite', 'Year': '2019', 'Rotten 100': '6'}, {'Film': "Schindler's List", 'Year': '1993', 'Rotten 100': 'unranked'}, {'Film': 'Lord of the Rings: The Fellowship of the Ring', 'Year': '2001', 'Rotten 100': 'unranked'}, {'Film': 'Shawshank Redemption', 'Year': '1994', 'Rotten 100': 'unranked'}, {'Film': "It's a Wonderful Life", 'Year': '1946', 'Rotten 100': 'unranked'}, {'Film': 'Pulp Fiction', 'Year': '1994', 'Rotten 100': 'unranked'}, {'Film': 'Avengers: Endgame', 'Year': '2019', 'Rotten 100': '7'}, {'Film': 'City Lights', 'Year': '1931', 'Rotten 100': 'unranked'}]

In [8]:
print(df)

                                             Film  Year Rotten 100
0                                   The Godfather  1972         17
1                                    Citizen Kane  1941          2
2                                      Casablanca  1942          8
3                          The Godfather, Part II  1974         99
4                             Singin' in the Rain  1952         52
5                                          Psycho  1960         88
6                                     Rear Window  1954         47
7                                  Apocalypse Now  1979   unranked
8                           2001: A Space Odyssey  1968   unranked
9                                   Seven Samurai  1954         49
10                                        Vertigo  1958   unranked
11                                    Sunset Blvd  1950         21
12                                   Modern Times  1936          4
13                             Lawrence of Arabia  1962   unranked
14                             North by Northwest  1959         79
15                                      Star Wars  1977   unranked
16                                       Parasite  2019          6
17                               Schindler's List  1993   unranked
18  Lord of the Rings: The Fellowship of the Ring  2001   unranked
19                           Shawshank Redemption  1994   unranked
20                          It's a Wonderful Life  1946   unranked
21                                   Pulp Fiction  1994   unranked
22                              Avengers: Endgame  2019          7
23                                    City Lights  1931   unranked

In [9]:
df["Film"]

0                                     The Godfather
1                                      Citizen Kane
2                                        Casablanca
3                            The Godfather, Part II
4                               Singin' in the Rain
5                                            Psycho
6                                       Rear Window
7                                    Apocalypse Now
8                             2001: A Space Odyssey
9                                     Seven Samurai
10                                          Vertigo
11                                      Sunset Blvd
12                                     Modern Times
13                               Lawrence of Arabia
14                               North by Northwest
15                                        Star Wars
16                                         Parasite
17                                 Schindler's List
18    Lord of the Rings: The Fellowship of the Ring
19                             Shawshank Redemption
20                            It's a Wonderful Life
21                                     Pulp Fiction
22                                Avengers: Endgame
23                                      City Lights
Name: Film, dtype: object

In [15]:
df[df["Film"] == "The Godfather"]

            Film  Year Rotten 100
0  The Godfather  1972         17

In [18]:
df[df["Year"].astype(int) > 1999]

                                             Film  Year Rotten 100
16                                       Parasite  2019          6
18  Lord of the Rings: The Fellowship of the Ring  2001   unranked
22                              Avengers: Endgame  2019          7

In [20]:
df[df["Film"] == "Parasite"]["Rotten 100"].values[0]

'6'

In [29]:
recent = df[
(df["Year"].astype(int) > 1999) &
(df["Year"].astype(int) < 2025)
]

In [30]:
print(recent)

                                             Film  Year Rotten 100
16                                       Parasite  2019          6
18  Lord of the Rings: The Fellowship of the Ring  2001   unranked
22                              Avengers: Endgame  2019          7