In [1]:
import requests
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'
db_name = 'movies.db'
table_name ='top_50'
csv_path = 'top_50.csv'
df = pd.DataFrame(columns=["Average Rank", "Film", "Year"])
count =0

In [3]:
html_page = requests.get(url).text
data = BeautifulSoup(html_page, 'html.parser')

In [4]:
tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

In [5]:
for row in rows:
    if count<50:
        col = row.find_all('td')
        if len(col)!=0:
            data_dict = {"Average Rank": col[0].contents[0],
                         "Film": col[1].contents[0],
                         "Year": col[2].contents[0]}
            df1 = pd.DataFrame(data_dict, index[0])
            df = pd.concat([df,df1], ignore_index=True)
            count+=1
        else:
            break

In [6]:
print(df)

Empty DataFrame
Columns: [Average Rank, Film, Year]
Index: []

In [7]:
import pandas as pd

df = pd.DataFrame(columns=["Average Rank","Film","Year"])

for i, row in enumerate(rows):
    # skip the first 50 rows
    if i < 50:
        continue

    cols = row.find_all('td')
    if not cols:
        break

    data = {
        "Average Rank": cols[0].get_text(strip=True),
        "Film":         cols[1].get_text(strip=True),
        "Year":         cols[2].get_text(strip=True)
    }

    # make a one-row df and append
    df1 = pd.DataFrame([data])
    df = pd.concat([df, df1], ignore_index=True)

In [8]:
print(df)

   Average Rank                                               Film      Year
0            50                                      All About Eve      1950
1            51                                        The General      1926
2            52                        Terminator 2: Judgement Day      1991
3            53                                              Se7en      1995
4            54                                        Raging Bull      1980
5            55                                       Interstellar      2014
6            56                                               Jaws      1975
7            57                                   Some Like it Hot      1959
8            58                             The Philadelphia Story      1940
9            59                             Avengers: Infinity War      2018
10           60                                          Gladiator      2000
11           61                                  On the Waterfront      1954
12           62                                            Get Out      2017
13           63                                          Moonlight      2016
14           64                                      Spirited Away      2001
15           65                                          Lady Bird      2017
16           66                                             Aliens      1986
17           67                                       Forrest Gump      1994
18           68                   Snow White and the Seven Dwarves      1937
19           69                                      Black Panther      2018
20           70                                           Whiplash      2014
21           71                                        The Shining      1980
22           72                                         Metropolis      1927
23           73                                 The Maltese Falcon      1941
24           74                                          Chinatown      1974
25           75                        The Best Years of Our Lives      1946
26           76                                   Mulholland Drive      2001
27           77                               In the Mood for Love      2000
28           78                                      A Quiet Place      2018
29           79  Dr. Strangelove or: How I Learned to Stop Worr...      1964
30           80                                               Coco      2017
31           81                                      The Third Man      1949
32           82                                 The Usual Suspects      1995
33           83                                 La Grande Illusion      1937
34           84                       Once Upon a Time in the West      1968
35           85                               A Night at the Opera      1935
36           86                                              Logan      2017
37           87                                     Thor: Ragnarok      2017
38           88                             LÃ©on: The Professional      1994
39           89                                          King Kong      1933
40           90              Eternal Sunshine of the Spotless Mind      2004
41           91                                            Arrival      2016
42           92                         Portrait of a Lady on Fire      2020
43           93                                          Nashville      1975
44           94                                        Intolerance      1916
45           95                                         La La Land      2016
46           96                                 Do the Right Thing  unranked
47           97                               Inglourious Basterds      2009
48           98                              The Battle of Algiers      1966
49           99                                                  M      1931
50          100                                     The Wild Bunch      1969
51          101                      Star Wars: Return of the Jedi      1983
52          102                                 A Clockwork Orange      1971
53          103                                    LA Confidential      1997
54          104                                            Titanic      1997
55          105                                          Toy Story      1995
56          106                                     Reservoir Dogs      1992
57          107                                       Paddington 2      2018
58          108                                             Amelie      2001

In [9]:
import pandas as pd

df = pd.DataFrame(columns=["Average Rank","Film","Year"])

for i, row in enumerate(rows):
    # stop after 50 rows
    if i >= 50:
        break

    cols = row.find_all('td')
    if not cols:
        # you can choose to skip or break here if you prefer
        continue

    data = {
        "Average Rank": cols[0].get_text(strip=True),
        "Film":         cols[1].get_text(strip=True),
        "Year":         cols[2].get_text(strip=True),
    }

    # build one-row DataFrame and append
    df1 = pd.DataFrame([data])
    df = pd.concat([df, df1], ignore_index=True)

In [10]:
print(df)

   Average Rank                                           Film  Year
0             1                                  The Godfather  1972
1             2                                   Citizen Kane  1941
2             3                                     Casablanca  1942
3             4                         The Godfather, Part II  1974
4             5                            Singin' in the Rain  1952
5             6                                         Psycho  1960
6             7                                    Rear Window  1954
7             8                                 Apocalypse Now  1979
8             9                          2001: A Space Odyssey  1968
9            10                                  Seven Samurai  1954
10           11                                        Vertigo  1958
11           12                                    Sunset Blvd  1950
12           13                                   Modern Times  1936
13           14                             Lawrence of Arabia  1962
14           15                             North by Northwest  1959
15           16                                      Star Wars  1977
16           17                                       Parasite  2019
17           18                               Schindler's List  1993
18           19  Lord of the Rings: The Fellowship of the Ring  2001
19           20                           Shawshank Redemption  1994
20           21                          It's a Wonderful Life  1946
21           22                                   Pulp Fiction  1994
22           23                              Avengers: Endgame  2019
23           24                                    City Lights  1931
24           25                One Flew Over the Cuckoo's Nest  1975
25           26                                     Goodfellas  1990
26           27                        Raiders of the Lost Ark  1981
27           28                                   12 Angry Men  1957
28           29                       The Silence of the Lambs  1991
29           30                                    Taxi Driver  1976
30           31                            Saving Private Ryan  1998
31           32                     E.T. the Extra Terrestrial  1982
32           33                                          Alien  1979
33           34              Spider-Man: Into the Spider-verse  2018
34           35                                   Blade Runner  1982
35           36                               Double Indemnity  1944
36           37                                The Dark Knight  2008
37           38                               The Wizard of Oz  1939
38           39  Star Wars: Episode V- The Empire Strikes Back  1980
39           40                                  The Searchers  1956
40           41                             Mad Max: Fury Road  2015
41           42                                      Inception  2010
42           43          Lord of the Rings: Return of the King  2003
43           44                                     The Matrix  1999
44           45                                     Fight Club  1999
45           46                             Back to the Future  1985
46           47                          It Happened One Night  1934
47           48                The Good, the Bad, and the Ugly  1966
48           49              Lord of the Rings: The Two Towers  2002

In [11]:
import pandas as pd

# Create a list to store row data
data_list = []

# Loop through the first 50 rows only
for i, row in enumerate(rows):
    if i >= 50:
        break

    cols = row.find_all('td')
    if not cols or len(cols) < 3:
        continue

    # Append dictionary to the list
    data_list.append({
        "Average Rank": cols[0].get_text(strip=True),
        "Film":         cols[1].get_text(strip=True),
        "Year":         cols[2].get_text(strip=True),
    })

# Create the DataFrame once from the list
df = pd.DataFrame(data_list)

In [12]:
print(df)

   Average Rank                                           Film  Year
0             1                                  The Godfather  1972
1             2                                   Citizen Kane  1941
2             3                                     Casablanca  1942
3             4                         The Godfather, Part II  1974
4             5                            Singin' in the Rain  1952
5             6                                         Psycho  1960
6             7                                    Rear Window  1954
7             8                                 Apocalypse Now  1979
8             9                          2001: A Space Odyssey  1968
9            10                                  Seven Samurai  1954
10           11                                        Vertigo  1958
11           12                                    Sunset Blvd  1950
12           13                                   Modern Times  1936
13           14                             Lawrence of Arabia  1962
14           15                             North by Northwest  1959
15           16                                      Star Wars  1977
16           17                                       Parasite  2019
17           18                               Schindler's List  1993
18           19  Lord of the Rings: The Fellowship of the Ring  2001
19           20                           Shawshank Redemption  1994
20           21                          It's a Wonderful Life  1946
21           22                                   Pulp Fiction  1994
22           23                              Avengers: Endgame  2019
23           24                                    City Lights  1931
24           25                One Flew Over the Cuckoo's Nest  1975
25           26                                     Goodfellas  1990
26           27                        Raiders of the Lost Ark  1981
27           28                                   12 Angry Men  1957
28           29                       The Silence of the Lambs  1991
29           30                                    Taxi Driver  1976
30           31                            Saving Private Ryan  1998
31           32                     E.T. the Extra Terrestrial  1982
32           33                                          Alien  1979
33           34              Spider-Man: Into the Spider-verse  2018
34           35                                   Blade Runner  1982
35           36                               Double Indemnity  1944
36           37                                The Dark Knight  2008
37           38                               The Wizard of Oz  1939
38           39  Star Wars: Episode V- The Empire Strikes Back  1980
39           40                                  The Searchers  1956
40           41                             Mad Max: Fury Road  2015
41           42                                      Inception  2010
42           43          Lord of the Rings: Return of the King  2003
43           44                                     The Matrix  1999
44           45                                     Fight Club  1999
45           46                             Back to the Future  1985
46           47                          It Happened One Night  1934
47           48                The Good, the Bad, and the Ugly  1966
48           49              Lord of the Rings: The Two Towers  2002

In [13]:
print(csv_path)

top_50.csv

In [14]:
df.to_csv('top_50.csv')

In [15]:
conn = sqlite3.connect(db_name)

In [16]:
print(table_name)

top_50

In [18]:
df.to_sql(table_name, conn, if_exists='replace', index=False)

49

In [19]:
conn.close()